<Headers>
    <nav>
        <a herf='/'>Mybrary</a>
        <ui>
            <li > <a href = '/authors'>Authors</a> </li>
            <li > <a href = '/authors/new'>Add Author</a> </li>

            
        </ui>
    </nav>
</Headers>